<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} quantengine {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicons/favicon.svg') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicons/favicon-180x180.png') }}">
</head>
<body>
    
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/quantengine-logo-transparent.svg') }}" alt="QuantEngine" height="60">
        </a>
        <nav>
            <a href="{{url_for('index')}}">Home</a>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('calculate.calculate')}}">Risk & Return</a>
                <a href="{{url_for('history.history')}}">History</a>
                <a href="{{url_for('auth.logout')}}">Log Out</a>
            {% else %}
                <a href="{{url_for('auth.register')}}">Register</a>
                <a href="{{url_for('auth.login')}}">Log In</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% endblock %}
    </main>

    <footer>
        <p>
            <a href="{{ url_for('info.about') }}">About</a>
            <a href="{{ url_for('info.release_notes') }}">Release Notes</a>
        </p>
        <p>QuantEngine v2.3 &copy; 2026</p>
    </footer>
</body>
</html>